@use 'variables' as *;

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.highlight-title {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px; 
    padding: 20px;
}

